html, body {
	height: 100%;
	margin: 0;
	font-size: 3vmin;
}

.border {
	outline: 1px solid black;
}
.header>h3, .footer>h3{
	border: 1px solid black;
	background-color: white;
	min-width: 200px;
	padding: 5px;
	block-size: fit-content;
}
.header>h3{
	grid-area: header_h3;	
	text-align: right;
}
.header>p{
	grid-area: header_p;
	font-size: 2.25vmin;
	justify-self: right;
}
.header{
	grid-area: header;
	grid-template-areas: 'header_h3 header_p header_p header_p header_p';
}
.header, .footer {
    background-color: rgb(198, 217, 241);
    padding: 0 16px;
    display: grid;
    grid: auto;
    gap: 0 16px;
    align-content: center;
}


.item_2, .item_4 {
	display: grid;
	justify-content: right;
	align-content: center;
	padding-right: 16px;
}
.preview_img{
	height: 100%;
	width: 100%;
	max-height: 300px;
}
.item_2 {
	grid-area: item_2;
	background-color: rgb(253, 233, 217);
}
.item_4 {
	grid-area: item_4;
	background-color: rgb(253, 233, 217);
}
.item_5 {
	grid-area: item_5;	
	background-color: rgb(234, 241, 221);
	padding-left: 16px;
}
.img1 {
	grid-area: img1;
}
.img2 {
	grid-area: img2;
}
.img3 {
	grid-area: img3;

}
.img4 {
	grid-area: img4;
}
.item_3 {
	grid-area: item_3;
	background-color: white;
	padding-right: 0px;
	display: grid;
	grid: auto;
	grid-template-areas: 
		'img1 img2'
		'img3 img4';
}
.main {
	grid-area: main;
    background-color: green;
    display: grid;
    grid: auto;
    grid-template-areas:
    	'item_2 item_3 item_3 item_4'
    	'item_2 item_3 item_3 item_4'
    	'item_2 item_3 item_3 item_4'
    	'item_2 item_3 item_3 item_4'
    	'item_5 item_5 item_5 item_4';
}


.footer>h3{
	grid-area: footer_h3;	
}
.footer>p{
	grid-area: footer_p;
	font-size: 3vmin;
	justify-self: right;
	align-self: center;
}
.footer {
	grid-area: footer;
	grid-template-areas: 'footer_h3 footer_p footer_p footer_p footer_p';
}


.grid_wrapper {
	display: grid;
	height: 100%;
	background-color: black;
	grid: auto;
	grid-template-areas: 
		'header header header header header'
		'main main main main main'
		'main main main main main'
		'main main main main main'
		'footer footer footer footer footer';
}