html, body {
	height: 100%;
	margin: 0;
	font-size: 3vmin;
}

.wraper {
	display: grid;
	grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

.border {
	outline: 1px solid black;
}
.header>h3, .footer>h3{
	background-color: white;
	min-width: 150px;
	padding: 5px;
	margin-right: 16px;
}
.header>h3{
	grid-area: header_h3;	
	text-align: right;
}
.header>p{
	grid-area: header_p;
	font-size: 2.25vmin;
	justify-self: right;
	text-align: right;
}
.header{
	grid-area: header;
	grid-template-areas: 'header_h3 header_p header_p header_p header_p';
}
.header, .footer {
    background-color: rgb(198, 217, 241);
    padding: 0 32px;
    display: grid;
	justify-content: space-between;
	align-items: center;
}


.main {
	grid-area: main;
    background-color: green;
    display: grid;
    grid-template-columns: 75% 25%;
}

.item_235 {
	display: grid;
	grid-template-rows: 1fr auto;		
}
.item_23 {
	display: grid;
	grid-template-columns: 42% 58%;
}
.item_2 {
	background-color: rgb(253, 233, 217);
}

.img1 {
	grid-area: img1;
}
.img2 {
	grid-area: img2;
}
.img3 {
	grid-area: img3;
}
.img4 {
	grid-area: img4;
}

.item_3 {
	background-color: white;
	display: grid;
	align-items: end;
    align-content: space-around;
    grid-template-areas: 
    	'img1 img2'
    	'img3 img4';
}
.preview_img{
	margin-left: auto;
	max-width: 100%;
	max-height: 300px;
}

.item_5 {
	background-color: rgb(234, 241, 221);
	padding-left: 32px;
}
.item_5>p {
	margin: 0px;
}
.item_4 {
	box-sizing: border-box;
	padding-left: 10px;
	background-color: rgb(253, 233, 217);
}

.item_2, .item_4 {
	display: grid;
	justify-content: right;
	align-content: center;
	padding-right: 32px;
}

.footer>h3{
	grid-area: footer_h3;	
}
.footer>p{
	grid-area: footer_p;
	justify-self: right;
	text-align: right;
}
.footer {
	grid-area: footer;
	border-top: 1px solid black;
	grid-template-areas: 'footer_h3 footer_p footer_p footer_p footer_p';
}

.links-list>li>a:hover {
        color: red;
}